INFLUXDB_USERNAME=SAMPLE_INFLUX_USERNAME
INFLUXDB_PASSWORD=SAMPLE_INFLUX_PASSWORD
INFLUXDB_TOKEN=SAMPLE_INFLUX_API_TOKEN
INFLUXDB_INIT_ORG=SAMPLE_INFLUX_ORG
INFLUXDB_INIT_BUCKET=SAMPLE_INFLUX_BUCKET

GRAFANA_USERNAME=SAMPLE_GRAFANA_USERNAME
GRAFANA_PASSWORD=SAMPLE_GRAFANA_PASSWORD